{% extends 'base.html' %}
{% load blog_tags %}
{% load mptt_tags %}
{% load bootstrap4 %}
{% load static %}

{% block title %}
Блог-агрегатор
{% endblock title %}
{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-3">
      <h1>Блог-агрегатор</h1>
    </div>
    <div class="col-cm-9">
      <form method="get">
        <button type="submit" class="btn btn-sm btn-primary btn-raised mr-1">Сортуввати</button>
        <input name="sort" type="checkbox" value="title"> по заголовку
        <input name="sort" type="checkbox" value="author"> по автору
      </form>
      {% if user.is_authenticated %}
      <a href="{% url 'blog:post_new' %}">Додати статтю</a>
      {% endif %}
    </div>
  </div>


  <div class="row">
    <div class="col-sm-3">
      {% show_category_posts %}
    </div>
    <div class="col-sm-6">
      <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <a href="{% url 'blog:post_list' %}">Cтатті </a> <span>&nbsp;&nbsp;/&nbsp;&nbsp;</span>
          {% for crumb in breadcrumb %}
          <li class="breadcrumb-item"> <a href="{{ crumb.get_absolute_url }}"> {{ crumb }} </a> </li>
          {% endfor %}
        </ol>
      </nav>
      {% if tag %}
      <h4>Статті з тегом "{{ tag.name }}"</h4>
      {% endif %}
      {% for post in object_list %}
      <h2><a href="{{ post.get_absolute_url }}">{{ post.title }}</a></h2>
      <p class="tags">
        Теги:
        {% for tag in post.tags.all %}
        <a href="{% url 'blog:post_list_by_tag' tag.slug %}">{{ tag.name }}</a>
        {% if not forloop.last %}, {% endif %}
        {% endfor %}
      </p>
      <p class="date text-muted">
        Опубліковано <span class="font-italic">{{ post.publish }}</span>, автор <span class="font-italic">{{ post.author.full_name }}</span>
      </p>
      {% if post.description %}
      <p>{{ post.description }}</p>
      {% else %}
      {% autoescape off %}
      {{ post.body|markdown|truncatewords_html:30 }}
      {% endautoescape %}
      {% endif %}
      <div>
<img src="{% static 'img/view.svg' %}" alt="" width="16" height="16" title="views">
      {% get_views_post pk=post.id %}
                <img  src="{% static 'img/hand-thumbs-up.svg' %}"  alt="" width="16" height="16" title="hand-thumbs-up">
                <span> {{ post.likes.likes }}</span>
                <img src="{% static 'img/hand-thumbs-down.svg' %}" alt="" width="16" height="16" title="hand-thumbs-down">
                <span> {{ post.likes.dislikes }}</span>
      </a></div>
      <hr>
      {% endfor %}
      {% bootstrap_pagination page_obj pages_to_show=4 %}
    </div>
    <div class="col-sm-3">
      {% show_latest_posts 3 %}
      {% show_popular_posts 5 %}
      <p class="list-group-item active">Найбільше коментують</p>
      {% get_most_commented_posts as most_commented_posts %}
      {% for post in most_commented_posts %}
      <p>
        <a href="{{ post.get_absolute_url }}">{{ post.title }}</a>
      </p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock content %}